/* Colors */
$btn-bg-orange: #f9a519;
$border-color: #cbd5e1; 
$cf-blue: #004a99; 
$cf-black: #242323;
$cf-green: #c7cd00;
$cf-white: #fff; 

/* Breakpoints */
$laptop: 1024px;
$tablet: 768px;
$mobile-xl: 640px;